/* Google Font Import Link */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}




nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 10px 20px;
    z-index: 1;
    /* Ensure the navigation bar is above the content */
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: rgb(248, 245, 245);
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    margin-left: 50px;
    padding: 0px;
    display: flex;
}

.nav-links li {
    margin-right: 100px;
    margin-top: 25px;
}

.nav-links a {
    color: rgb(248, 248, 248);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    /* Add a smooth transition effect */
}

.nav-links a:hover {
    color: rgb(62, 183, 240);
    /* Change the color on hover */
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: rgb(248, 245, 245);
    margin: 3px 0;
    transition: 0.4s;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: black;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
    }
}

/* home */


.home-image-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Ensure relative positioning for absolute children */
  }
  
  .home-image {
    width: 100%;
    height: 100vh;
    background-size: cover;
    object-fit: cover;
  }
  
  .home-content-div {
    display: flex;
    justify-content: center;
  }
  
  .home-content {
    color: white;
    position: absolute;
    width: 80%;
    max-width: 1440px;
    border: 2px solid rgb(15, 184, 127);
    top: 54%; /* Adjust the top value as needed */
    left: 50%;
    
    padding-left: 150px;
    transform: translate(-50%, -50%); /* Center the content horizontally and vertically */
  }
  

 
  .first-content {
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 110px;
 
  
  }
  .second-content {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-left: 20px;
    
  }
  .third-content {
    font-size: 22px;
    margin-bottom: 30px;
    padding-left: 20px;
  }
  .home-arrow-svg {
    margin-inline-start: 4px;
    font-size: 56px !important;
  }

  
  @media (max-width: 768px) {
    .home-content {
      color: white;
      position: absolute;
      width: 80%;
      max-width: 1440px;
      top: 35vh;
    }
    .first-content {
      font-size: 38px;
    }
    .second-content {
      font-size: 38px;
    }
    .third-content {
      font-size: 19px;
    }
  }
  
  @media (max-width: 576px) {
    .first-content {
      font-size: 30px;
    }
    .second-content {
      font-size: 30px;
    }
    .third-content {
      font-size: 15px;
    }
    
  }
  @media (max-width: 400px) {
    .home-content {
      color: white;
      position: absolute;
      width: 80%;
      max-width: 1440px;
      top: 30vh;
    }
  }
  

/* about */




.about-section-div {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 0;


}

.home-about-section {
    max-width: 1440px;
    width: 80%;
    display: flex;
    border: 2px solid rgb(56, 161, 231);

}

.about-intro {
    width: 50%;
    padding-left: 40px;

   
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-about-first-tsxt {
    font-size: 25px;
}

.about-intro p {
    margin-bottom: 10px;
    color: black;
  
}

.about-intro h1 {
    margin-bottom: 20px;
    color: black;
  font-weight: bolder;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.home-about-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-about-img img {
    width: 70%;
    /* width:600px; */
    min-width: 400px;
    margin-top: 150px;
    border: 2px solid red;
}






@media (max-width: 1020px) {
    .home-about-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-about-img {
        width: 100%;
    }

    .about-intro {
        width: 100%;
        padding: 0;
    }

    .home-about-section {
        box-shadow: none;
    }
}
/* 
home-service-section */
.home-service-section {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #9ee2fde8;
 
   /* Added padding for better spacing */
}

.home-service-containers {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 80px; /* Stack the content vertically */
}

.home-service-headings {
  display: flex;
  flex-direction: column; /* Stack h2 and h1 vertically */
  justify-content: flex-start; /* Align items to the start of the flex container */
  align-items: flex-start; /* Align items to the start of the flex container */
  width: 60%;
  margin: 0 auto; /* Center the element by adding auto margin on left and right */
}

.home-service-headings h1,
.home-service-headings h2 {
  text-align: left; /* Left-align h1 and h2 */
  margin-bottom: 10px;
  color: black;
  font-weight: bolder;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add shadow effect */
}


.home-service-headings h2 {
  padding-top: 50px;
  font-size: 2rem;
}

.home-services-content {
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Allow cards to wrap to the next line if there isn't enough space */
  justify-content: center; 
  margin-bottom: 40px;
}
.card {
  position: relative;
  width: 250px; /* Increase the width to your desired value */
  height: 250px; /* Adjust the height if needed */
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px #b4e7f7, -20px -20px 60px #9adffa9f;
  margin-right: 50px;
  margin-top: 50px;
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 240px; /* Adjust the width to be slightly smaller than the card width */
  height: 240px; /* Adjust the height to be slightly smaller than the card height */
  z-index: 2;
  background: rgba(255, 255, 255, .95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #27aaf7;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

button {
  padding: 0.8em 1.8em;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  background-color: #0ca1e6;
  border: 1.5px solid #2697cc;
  font-family: inherit;
  color: #feffff;
  border-radius: 10px;
 }
 
 button::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #69abca;
  transition: .5s ease;
  display: block;
  z-index: -1;
  
 }
 
 button:hover::before {
  width: 105%;
 }
 
 button:hover {
  color: #111;
 }
 
 #appointment {
  color: white;
  text-align: center;
  padding: 100px 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82vh; 

}

.appointment-container {
  max-width: 800px;
  margin: 0 auto;
}

.appointment-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.appointment-container p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}


/* footer */

.footer {
  background-color: #faf6f6ea;
  color: #0f0f0f;
  padding: 80px 0;
}

.footer__widget {
  margin-bottom: 30px;
}

.footer h4 {
  font-size: 24px;
  color: #0c0b0b;
  margin-bottom: 20px;
}

.footer p {
  font-size: 14px;
  line-height: 1.6;
}

